@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Railway');
html {
    scroll-behavior: smooth;
}
html, body {
    margin: 0;
    padding: 0;
}
.navbar {
    background: #8c107b;
}
.navbar .navbar-nav .nav-link {
    color: #ffc5f7;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 95%;
    border-bottom: 3px solid transparent;
}
.navbar .navbar-nav .nav-link:hover {
    color: #ffdffb;
    border-bottom: 3px solid #fff;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
.navbar .navbar-toggler:focus {
    outline: none;
}

.typed-area {
    background: linear-gradient(#8c107b, rgb(81, 0, 99));
    background: -webkit-linear-gradient(#8c107b, rgb(81, 0, 99));
    background: -moz-linear-gradient(#8c107b, rgb(81, 0, 99));
    background: -ms-linear-gradient(#8c107b, rgb(81, 0, 99));
    background: -o-linear-gradient(#8c107b, rgb(81, 0, 99));
    height: 500px;
    clip-path: polygon(100% 0, 100% 53%, 0 100%, 0 100%, 0 0);
    -webkit-clip-path: polygon(100% 0, 100% 53%, 0 100%, 0 100%, 0 0);
    -moz-clip-path: polygon(100% 0, 100% 53%, 0 100%, 0 100%, 0 0);
    -ms-clip-path: polygon(100% 0, 100% 53%, 0 100%, 0 100%, 0 0);
    -o-clip-path: polygon(100% 0, 100% 53%, 0 100%, 0 100%, 0 0);
}
.typed-area #typed {
    font-size: 5em;
    text-align: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

} 
#about {
    margin-top: 20px;
}
#about .image {
    width: 300px;
    height: 300px;
    margin: 10px auto;
    border: 2px solid rgb(182, 182, 182);
    border-radius: 50%;
}
#about .image #me {
    width: 100%;
    object-fit: contain;
    border-radius: 50%;
    filter: contrast(120%);
}
#about p {
    margin-top: 75px;
    font-size: 120%;
}

#contact {
    margin-top: 80px;
}
#contact .contact-area {
    width: 400px;
    height: 400px;
    padding: 20px;
    border-radius: 10px;
    background:#540064;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    -moz-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    -ms-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
    -o-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
#contact , #contact a {
    color: #ffb6f4;
}
#contact .contact-area ul {
    list-style-type: none;
}
#contact .contact-area ul li {
    margin-top: 6px;
}
#contact .contact-area span {
    font-size: 110%;
    padding: 10px;
    font-family: 'Railway', sans-serif;
    margin-left: 10px;
}

#projects {
    margin-top: 50px;
}
#projects .card {
    padding: 17px;
    box-shadow: 0px 0px 18px lightgrey;
    -webkit-box-shadow: 0px 0px 18px lightgrey;
    -moz-box-shadow: 0px 0px 18px lightgrey;
    -ms-box-shadow: 0px 0px 18px lightgrey;
    -o-box-shadow: 0px 0px 18px lightgrey;
}
#projects .card img {
    width: 100%;
}
#projects .card img:hover {
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1); 
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
}
#projects .card a {
    text-decoration: none;
    color: rgb(105, 55, 116);
    font-weight: normal;
}
#projects .card a h6 {
    margin-top: 20px;
}
footer {
    height: 150px;
    margin-top: 150px;
    background: #2e2e2e;
}
#totop {
    position: fixed;
    bottom: 0px;
    right: 20px;
    border-radius: 8px 8px 0 0;
    display: none;
}
#totop:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

/* Mobile */
@media only screen and (max-width: 768px) {
    .typed-area #typed {
        font-size: 2em;
    }
}